 

*{margin: 0;
font-family: poppins;}
body{
    overflow-x: hidden;
}

.top{
    background-color: #fff9ea; 

}


   .toimom{
    display: flex;
  justify-content: space-between;
height: 90px;     align-items: center;
margin-left: 100px;
margin-right: 100px;

   }
   ul >li{
    list-style: none;
}
ul a{ 
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.hasan{
    display: flex;
    gap:30px;
}
.khan{
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #ffcb45;
  border: none;
   font-weight: 600; 
}
.kappa{
    
    display: flex;
    gap: 30px;
    align-items: center;
   
}
/* hero sectio */

.shafi{
    background-image:url(../image/shapes.png) ;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
}
.hero-parent{
   
    display: flex;
    justify-content: space-between;
}
.lol{
    display: flex;
    align-items: center;
}





/* search containe */

.first{
    margin-top: 30px;
   
}
.pic{
 
    display: flex;
    gap: 140px;
  justify-content: center;
  margin-top: 32px;
}
.popular{
    margin-top: 80px;
}
/* food image part-1 */
.desing{
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px;
  
}
.pop{
    display: flex;
    gap: 30px; 
   
}
.taka{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

/* food image part-2 */

.next-image{
    position: relative;
   top:-35px;
}
.review{
    display: flex;
}

/* <!-- background image part new part --> */
 .meem{
    background-image: url(../image/pexels-photo-1099680.jpeg ); height: 400px; width: 900px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-left: 200px;
border-radius: 30px;
}


.arobi{
    background-image: url(../image/bg-image.png);
    border: 2px solid #f1f1f1;
    margin-left: 50px;
}
  